<nav class="pagination-nav">
  <button (click)="goToFirst()" [disabled]="props()!.pageNumber <= 1">
    « Primero
  </button>
  <button (click)="goToPrevious()" [disabled]="props()!.pageNumber <= 1">
    ‹ Anterior
  </button>
  <span>
    Página
    <select [value]="props()!.pageNumber" (change)="onSelectPage($event)">
      <option *ngFor="let n of pages" [value]="n">{{ n }}</option>
    </select>
    de {{ props()!.totalPages }}
  </span>
  <span style="margin-left: 1em">
    Mostrar
    <select
      [(ngModel)]="pageSizeValue"
      (ngModelChange)="onPageSizeChangeModel($event)"
    >
      <option *ngFor="let size of pageSizeOptions" [value]="size">
        {{ size }}
      </option>
    </select>
    por página
  </span>
  <button
    (click)="goToNext()"
    [disabled]="props()!.pageNumber >= props()!.totalPages"
  >
    Siguiente ›
  </button>
  <button
    (click)="goToLast()"
    [disabled]="props()!.pageNumber >= props()!.totalPages"
  >
    Último »
  </button>
</nav>
<div class="pagination-info">Total de elementos: {{ props()!.totalCount }}</div>
